.menu {
  padding: 0 160px;
  background-image: url(./../../../assets/img/3_section_our_menu/JPG/section_our_menu_bg.jpg);
  background-size: cover;
  & img {
    width: 352px;
    height: 352px;
  }
}

.ourmenu {
  padding-top: 120px;
}

/*
.menu img {
  width: 352px;
  height: 352px;
}
*/

thead {
  font-family: "Economica";
  font-size: 56px;
  font-weight: 700;
}

tbody {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 700;
  color: #675e54;
}

th {
  padding-bottom: 16px;
}

td {
  padding-bottom: 8px;
}

.tonkotsu-menu {
  display: flex;
  align-items: center;
  gap: 80px;
  padding-bottom: 56px;
}

.spicy-menu {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 80px;
  padding-bottom: 56px;
}

.shio-menu {
  display: flex;
  align-items: center;
  gap: 80px;
  padding-bottom: 120px;
}

h2 {
    font-family: "Raleway";
    font-size: 80px;
    font-weight: 700;
    color: #9f0908;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 64px;
}
