<section class="order" id="about">
    <div class="h2-howtoorder">
      <h2 id="hto">HOW TO ORDER</h2>
    </div>
    <div class="howtoorder">
      <div class="noodle mobile-view-order">
        <img src="./../../../assets/img/2_section_how_to_order/PNG/noodle.png" alt="noodle" />
        <p class="choose">Pick your</p>
        <p id="noodle">noodle</p>
      </div>
      <div class="broth mobile-view-order">
        <img src="./../../../assets/img/2_section_how_to_order/PNG/broth.png" alt="broth" />
        <p class="choose">Pick your</p>
        <p id="broth">broth</p>
      </div>
      <div class="toppings mobile-view-order">
        <img src="./../../../assets/img/2_section_how_to_order/PNG/egg.png" alt="toppings" />
        <p class="choose">Add your</p>
        <p id="toppings">toppings</p>
        <p></p>
      </div>
    </div>
  </section>