.order {
  margin: 120px 160px;
}

h2 {
  font-family: raleway;
  font-size: 80px;
  font-weight: bold;
  color: #9f0908;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 64px;
}

/*
.howtoorder p {
  font-family: economica;
  font-size: 56px;
  font-weight: bold;
}

.howtoorder img {
  width: 128px;
  margin-bottom: 16px;
}
*/

.howtoorder {
  display: flex;
  justify-content: space-between;
  & p {
    font-family: "Economica";
    font-size: 56px;
    font-weight: 700;
  }
  & img {
    width: 128px;
    margin-bottom: 16px;
  }
}

.noodle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.broth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toppings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
